# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
.venv/
venv/
ENV/
.env

# Jupyter
.ipynb_checkpoints/

# Data / models
/data/**
!/data/.gitkeep
/models/**
!/models/.gitkeep

# Reports
/reports/figures/**
!/reports/figures/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
