<div class="auth-container">
  <div class="auth-card">
    <h2 class="auth-title">Sign up</h2>

    <form class="auth-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      
      <div class="input-group">
        <input 
          type="text" 
          id="username" 
          class="auth-input"
          formControlName="username" 
          placeholder="Choose a username"
        >
        <div *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid">
          <small class="validation-error" *ngIf="registerForm.get('username')?.hasError('required')">
            Username is required.
          </small>
          <small class="validation-error" *ngIf="registerForm.get('username')?.hasError('minlength')">
            At least 3 characters.
          </small>
          <small class="validation-error" *ngIf="registerForm.get('username')?.hasError('maxlength')">
            Not more than 20 characters.
          </small>
          <small class="validation-error" *ngIf="registerForm.get('username')?.hasError('pattern')">
            Only letters, numbers, hyphens (-) and underscores (_).
          </small>
        </div>
      </div>

      <div class="input-group">
        <input 
          type="password" 
          id="password" 
          class="auth-input"
          formControlName="password" 
          placeholder="Create a password"
        >
        <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
          <small class="validation-error" *ngIf="registerForm.get('password')?.hasError('required')">
            Password is required.
          </small>
          <small class="validation-error" *ngIf="registerForm.get('password')?.hasError('minlength')">
            At least 8 characters.
          </small>
          <small class="validation-error" *ngIf="registerForm.get('password')?.hasError('maxlength')">
            Not more than 72 characters.
          </small>
          <small class="validation-error" *ngIf="registerForm.get('password')?.hasError('pattern')">
            At least 1 letter and 1 number.
          </small>
        </div>
      </div>

      <div *ngIf="errorMessage" class="error-alert">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="success-alert">
        {{ successMessage }}
      </div>

      <button type="submit" class="auth-button" [disabled]="registerForm.invalid || isLoading">
        {{ isLoading ? 'Creating...' : 'Sign up' }}
      </button>

    </form>

    <a routerLink="/login" class="auth-link">already have an account? <span style="font-weight: 600;">Log in</span></a>
  </div>
</div>